<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/f4195ba0-2656-4744-80e2-6814ac640e0e/resourceGroups/pets4life_group/providers/Microsoft.Web/sites/pets4life</ResourceId>
    <ResourceGroup>pets4life_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://pets4life.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9373bce7-31be-48d3-be58-a5151d10bf5c</ProjectGuid>
    <PublishUrl>https://pets4life.scm.azurewebsites.net/</PublishUrl>
    <UserName>$pets4life</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>